<!DOCTYPE html>
<html lang="eng" xmlns:th="https://www.thymeleaf.org" th:replace="~{/admin/admin-dashboard::layout(~{::section})}">


<head>
    <meta charset='utf-8'>
    <meta http-equiv='<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>

<body>

    <section class="md:w-10/12 w-11/12 m-auto py-2">


        <h1 class="text-2xl text-gray-700 text-center py-2">Update Project</h1>
        <form th:action="@{/adminAccess/updateProject}" enctype="multipart/form-data" th:object="${Singleprojects}"
            method="post">
            <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 flex flex-col">
                <div class="-mx-3 md:flex mb-6">
                    <!-- ID START -->
                  
                        <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                            name="ProjectID" th:value="${Singleprojects.projectId}"
                            id="company" type="hidden"
                            placeholder="Please enter title" required>
                       
                    <div class="md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="company">
                            Project Title*
                        </label>
                        <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                            name="projectTitle" th:value="${Singleprojects.projectTitle}"
                            id="company" type="text"
                            placeholder="Please enter title" required>
                        <div>

                        </div>
                    </div>
                    <div class="md:w-1/2 px-3">
                        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="title">
                            Thumnail*
                        </label>
                        <input class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                            id="title" type="file" name="profileImage" placeholder="Software Engineer">
                    </div>
                </div>
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-full px-3">
                        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="application-link">
                            Demo Link*
                        </label>
                        <input name="demoLink"
                            class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                            id="application-link" th:value="${Singleprojects.demoLink}" type="text" placeholder="http://...." required>
                    </div>
                </div>
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-full px-3">
                        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="application-link">
                            Video Link*
                        </label>
                        <input name="videoLink"
                            class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                            id="application-link" th:value="${Singleprojects.videoLink}" type="text" placeholder="http://...." required>
                    </div>
                </div>
                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-full px-3">
                        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="application-link">
                            Code Link*
                        </label>
                        <input name="CodeLink"
                            class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                            id="application-link" th:value="${Singleprojects.CodeLink}" type="text" placeholder="http://...." required>
                    </div>
                </div>

                <div class="-mx-3 md:flex mb-6">
                    <div class="md:w-full px-3">
                        <label class="uppercase tracking-wide text-black text-xs font-bold mb-2" for="application-link">
                            Description*
                        </label>
                        <textarea name="projectDescription" rows="10"
                            class="w-full bg-gray-200 text-black border border-gray-200 rounded py-3 px-4 mb-3"
                            id="application-link" type="text" th:text="${Singleprojects.projectDescription}" placeholder="Enter project description" required></textarea>

                    </div>
                </div>


                <div class="-mx-3 md:flex mt-2">
                    <div class="md:w-full px-3">
                        <button type="submit"
                            class="md:w-full bg-gray-900 text-white font-bold py-2 px-4 border-b-4 hover:border-b-2 border-gray-500 hover:border-gray-100 rounded-full">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </form>



    </section>


</body>

</html>