/* background image start  */
a{
    text-decoration: none !important;
}

body {

    background-image: url("../img/bg-image.jpg");
    width: 100%;
    height:100%;
    overflow-y: scroll;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* background image start end */

.active {
    background-color: rgb(244 114 182) !important;
    color: white !important;

}


/* responsive */

@media (max-width:1030px) {

    .profile-part {
        position: absolute !important;
        top: 150px !important;
        left: -800px !important;
        width:95%!important;
        height:auto!important;
        border:1px solid #e2e2e2;
        transition: all 0.3s ease-in-out;
        /* left:-1000px!important; */
    }

    .snow{
        display: none;
        transition: all 0.3s ease-in-out;
    }

    .bars{
        display: block;
        transition: all 0.3s ease-in-out;
    }

   
    .move-right {
        left: 10px!important;
        
    }

    .move-left {
        left: -800px!important;
    }


}